.sidebar {
  width: 25rem;
}

.algolia-autocomplete
    .ds-dropdown-menu
        width 500px
    .algolia-docsearch-suggestion--category-header
        color darkgray
        border 1px solid gray
    .algolia-docsearch-suggestion--subcategory-column
        color gray
    .algolia-docsearch-suggestion--title
        font-weight bold
        color black
    .algolia-docsearch-suggestion--text
        font-size 0.8rem
        color gray
    .algolia-docsearch-suggestion--highlight
        color blue
